@import "helpers";

.browser {
    .loading {
        min-height: 300px;
        background: url(../images/loading.gif) no-repeat center;
    }
    div.browser-information {
        margin-left: 0;
        width: 17.02126%;
        margin-bottom: 20px;
        border-left: 1px solid #ccc;
        height: 100%;
        
        h2 {
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #d5d5d8;
            color: #6d6f74;
            white-space: nowrap;
            text-align: left;
            
            .gradient(#fefeff, #f4f3f6, #fefeff);
            .box-shadow(0 1px 1px, 5%);
            
            display: block;
            text-shadow: 0 1px 0 #fff;
            font-size: 11px;
            font-weight: bold;
            margin: 0;
            padding: 1px 0 1px 10px;
        }
        
        h3 {
            line-height: 20px;
            padding-left: 5px;
            
            span.title {
                background: #fff;
                color: #999;
                float: left;
                font-size: 11px;
                font-weight: bold;
                padding-right: 5px;
                text-transform: uppercase;
                z-index: 1;
            }
            span.link {
                background: #fff;
                float: right;
                outline: none;
                padding-left: 5px;
                z-index: 1;
            }
            div.divider {
                padding-top: 10px;
                
                div.divider-inner {
                    border-top: 1px solid #f2f2f2;
                }
            }
        }
        
        i#edit_description {
            cursor: pointer;
        }
        .editable-click {
            border-bottom: none;
        }
        p {
            padding-left: 5px;
        }
        
        div.buttons {
            padding-top: 10px;
            text-align: center;
        }
    }
    div.browser-list {
        position: relative;
    }
    
    i {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin: 4px;
        
        background: url(../images/icons/sprite.png) no-repeat;
        
        &.icon-file {
            background-position: 0 0;
        }
        &.icon-folder {
            background-position: -16px 0;
        }
        &.icon-tag {
            background-position: -32px 0;
        }
        &.icon-pencil {
            background-position: -80px -16px;
        }
        &.icon-ok {
            background-position: -96px -16px;
        }
        &.icon-remove {
            background-position: -96px 0;
        }
        &.icon-gear {
            background-position: -48px 0;
        }
        &.icon-list {
            background-position: -64px -16px;
        }
        &.icon-icons {
            background-position: -48px -16px;
        }
    }
    
    .browser-bar {
        position: relative;
        ul#settings {
            padding: 0;
            margin: -1px;
                
            li#display-columns-toggle ul#dd-menu-columns li label, li#sort-toggle ul#dd-menu-sort  li label {
                margin-bottom: 0;
                padding: 4px 10px;
            }
            li#sort-toggle {
                ul#dd-menu-sort {
                    margin-left: 0;
                    li {
                        label {
                            div.btn-group {
                                padding-right: 6px;
                            }
                        }
                    }
                }
            }
            
            li#type-toggle {
                margin-bottom: 5px;
                div.btn-group {
                    width: 100%;
                    button {
                        width: 50%;
                        border-width: 0 0 1px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
            li {
                & > a {
                    padding: 6px 20px 6px 10px;
                }
            }
            li#display-columns-toggle {
                ul#dd-menu-columns {
                    margin-left: 0;
                    li {
                        label {
                            input {
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
        a#settings-button {
            position: absolute;
            right: 5px;
            top: 6px;
            text-decoration: none;
            cursor: pointer;
        }
        div.breadcrumb {
            margin-bottom: 0;
            border-radius: 0;
            border-bottom: 1px solid #ccc;
        }
        ul.breadcrumb {
            margin-right: 50px;
            li {
                i {
                    padding-right: 5px;
                }
            }
        }
        
        /**
         * breadcrumb styles.
         * 
         */
        .breadcrumb
        {
            margin: 0;
            overflow: hidden;
        }
        .breadcrumb ul
        {
            margin: 0;
            padding: 0;
            height: 21px;
            display: block;
        }
        .breadcrumb ul li
        {
            display: block;
            float: left;
            position: relative;
            height: 21px;
            overflow: hidden;
            line-height: 21px;
            margin: 0px 6px 0px 0;
            padding: 0px 10px 0px 0;
            font-size: .9167em;
            background: url(../images/breadcrumb/chevron.gif) no-repeat 100% 0;
        }
        .breadcrumb ul li div.chevronOverlay
        {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
        }
        .breadcrumb ul li span
        {
            display: block;
            overflow: hidden;
        }
        .breadcrumb ul li a
        {
            display: block;
            position: relative;
            height: 21px;
            line-height: 21px;
            overflow: hidden;
            float: left;
        }
        .breadcrumb ul li.first a
        {
            height: 16px !important;
            text-indent:-1000em;
            width:16px;
            padding: 0;
            margin-top: 2px;
            overflow: hidden;
            background:url(../images/breadcrumb/home.gif) no-repeat 0 0;
        }
        .breadcrumb ul li.first a:hover
        {
            background-position: 0 -16px;
        }
        .breadcrumb ul li.last
        {
            background: none;
            margin-right: 0;
            padding-right: 0;
        }
        .chevronOverlay
        {
            display: none;
            background: url(../images/breadcrumb/chevron.gif) no-repeat 100% 0;
            width: 13px;
            height: 20px;
        }
    }
        
}

table.browser {
    width: 100%;
    margin: 0;
    
    .item p {
        padding: 9px 10px;
        margin: 0;
    }
    .list {
        & > li {
            list-style: none;
            height: 40px;
            padding-bottom: 1px;
        }
    }
    div.col {
        float: left;
        height: 100%;
    }
    .col {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        h3 {
            padding: 3px 0 0 10px;
        }
        div.btn-checkbox {
            margin: 0 10px;
        }
    }
    
    thead {
        th {
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #d5d5d8;
            color: #6d6f74;
            white-space: nowrap;
            text-align: left;
            
            .gradient(#fefeff, #f4f3f6, #fefeff);
            .box-shadow(0 1px 1px, 5%);
            
            h3 {
                display: block;
                text-shadow: 0 1px 0 #fff;
                font-size: 11px;
                font-weight: bold;
                margin: 0;
                line-height: 30px;
            }
        }
    }
    
    .item.file .col.name i {
        background-position: 0 0;
    }
    .item.folder .col.name i {
        background-position: -16px 0;
    }
    
    div.item, tr.item td {
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    .item.selected, tr.item.selected td {
        background: #FFFFCC !important;
    }
    div.item, .bar.list {
        height: 100%;
    }
    
    li:nth-child(even) div.item, tr.item:nth-child(even) td {
        background: #efefef;
    }
    
    /**
     * Icons list styles.
     * 
     */
    div.browser-icons {
        div.browser-item 
        {
            float: left;
            width: 200px;
            height: 160px;
            display: inline-block;
            margin: 10px;
            background-color: #efefef;
            cursor: pointer;
            cursor: hand;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.08);
            border: 1px solid #ccc;
            
            &.selected {
                div.item-inner {
                    height: 157px;
                    div.item-image {
                        height: 156px;
                        margin: 3px;
                        width: 194px;
                        background-color: #efefef;
                    }
                    div.item-bar {
                        background: #FFFFCC !important;
                        
                        div.size {
                            color: #E1E1E1;
                        }
                        div.name {
                            color: #333;
                        }
                    }
                }
                
                background-color: #FFFFCC !important;
            }
            
            div.item-folder {
                div.item-image {
                    background: url(../images/big-icons/folder.png) center center no-repeat #efefef;
                }
            }
            div.item-file {
                div.item-image {
                    background: url(../images/big-icons/document.png) center center no-repeat #efefef;
                }
            }
            div.item-inner:hover {
                div.item-bar {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            div.item-inner {
                width: 100%;
                height: 100%;
                position: relative;
                
                div.item-image {
                    display: block;
                    height: 160px;
                    width: 200px;
                }
                div.item-bar {
                    background-color: rgba(0, 0, 0, 0.3);
                    display: block;
                    position: absolute;
                    bottom: 0;
                    height: 20px;
                    padding: 4px;
                    width: 192px;
                    div {
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    div.name {
                        width: 169px;
                        color: #E1E1E1;
                    }
                    div.btn-checkbox {
                        margin-top: 4px;
                        vertical-align: top;
                    }
                }
            }
        }
    }
    
    /**
     * Specific cols widths
     * 
     */
    .col.actions {
        width: 50px;
        text-align: center;
    }
    .col.btn-checkbox {
        width: 20px;
    }
    .col.size {
        width: 20%;
    }
    .col.name {
        width: 80%;
    }
    
    /**
     * Checkbox styles.
     * 
     */
    div.btn-checkbox {
        cursor: default;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(155, 155, 155, 0.57);
        border-radius: 1px 1px 1px 1px;
        font-size: 1px;
        height: 11px;
        margin: 0 4px 0 1px;
        outline: 0 none;
        vertical-align: text-bottom;
        width: 11px;
        display: inline-block;
        position: relative;
    }
    div.checkbox-inner {
        height: 15px;
        left: 0;
        outline: 0 none;
        position: relative;
        top: -3px;
        width: 15px;
    }
    div.btn-checkbox.partial {
        div.checkbox-inner {
            background: url("../images/icons/checkmark-partial.png") no-repeat scroll -5px -3px transparent;
        }
    }
    div.btn-checkbox.selected div.checkbox-inner, .item.selected div.btn-checkbox div.checkbox-inner,
    .browser-item.selected div.btn-checkbox div.checkbox-inner {
        background: url("../images/icons/checkmark.png") no-repeat scroll -5px -3px transparent;
    }
    div.btn-checkbox:hover, div.browser-icons div.browser-item:hover div.btn-checkbox {
        border: 1px solid #B2B2B2;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    }
    div.btn-checkbox.selected, .browser-item.selected div.btn-checkbox {
        background-color: rgba(255, 255, 255, 0.65);
        background-color: #EBEBEB;
        border: 1px solid #4D90FE;
    }
}

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
    min-height: 1%;
}

